.t-edit {
    padding: 32px;
    background-color: #fff;
}

.t-button {
    width: 150px;;
}

.t-selector {
    width: 100%;
    .t-selector-input{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    .t-btn-input {
        padding: 10px;
    }

    .t-selected-field {
        cursor: pointer;
    }
    .t-selected-field:hover {
        text-decoration: underline;
    }
}

